.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    animation-name: color-red;
    transition: 3s;

}

.ex-1-square:hover {
    background-color: red;
}


.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-2-square:active {
    width: 500px;
    height: 200px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
    border: 1px soldi red;
}

.ex-3-square:hover {
    border-radius: 50px;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: disappear;
    animation-duration: 4s;
}



@keyframes disappear {
    from {
        background-color: red;
    }

    to {
        background-color: #F5F5F5;
    }
}